body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

h1 {
    font-weight: 700;
    text-align: center;
}

.time {
    text-align: center;
    font-size: 30px;
    margin: 5px 0px;
}

button#themeToggle {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .time {
        font-size: 20px;
    }
}
